In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import scipy.stats 
import seaborn as sns

In [5]:
np.random.seed(51)

stocks = pd.DataFrame({"Stock_A": np.random.normal(10,1,size=10), "Stock_B": np.random.normal(10,5,size=10)})
stocks.index.name = "Months"
stocks = round(stocks,2)
stocks

        Stock_A  Stock_B
Months
0          9.71     7.47
1         10.11     7.08
2         11.25     3.63
3          8.64    13.73
4         10.10     7.21
5          9.95     9.45
6          9.64     4.06
7          8.91     4.96
8          9.65     6.55
9         12.59     9.57

In [7]:
stocks["Stock_A_Rets"] =  stocks["Stock_A"] / stocks["Stock_A"].shift(1) - 1 

stocks["Stock_B_Rets"] = stocks["Stock_B"] / stocks["Stock_B"].shift(1) - 1

stocks = round(stocks, 2)
 
stocks

        Stock_A  Stock_B  Stock_A_Rets  Stock_B_Rets
Months
0          9.71     7.47           NaN           NaN
1         10.11     7.08          0.04         -0.05
2         11.25     3.63          0.11         -0.49
3          8.64    13.73         -0.23          2.78
4         10.10     7.21          0.17         -0.47
5          9.95     9.45         -0.01          0.31
6          9.64     4.06         -0.03         -0.57
7          8.91     4.96         -0.08          0.22
8          9.65     6.55          0.08          0.32
9         12.59     9.57          0.30          0.46